/* common styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
.btn {
  background-color: #1d4ed8;
  color: white;
  padding: 15px 35px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.btn-2 {
  margin-top: auto;
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  border: 1px solid #2563eb;
  background-color: white;
  color: #2563eb;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.btn-3 {
  margin-top: auto;
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  border: 1px solid #2563eb;
  background-color: #2563eb;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 10px;
}
.dark-2 {
  color: #575757;
}
.dark-1 {
  color: #ffffff;
}
/* navbar-start */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.nav-links {
  display: flex;
  gap: 15px;
  list-style: none;
}
.nav-links li a {
  text-decoration: none;
}
/* navbar-end */

/* banner-section start */
.banner-section {
  background-image:
    linear-gradient(to right, black, transparent), url("./assets/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 800px;
}
.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}
.hero-content h1 {
  font-size: 80px;
  font-weight: 800;
  margin-bottom: 30px;
}
.hero-content p {
  font-size: 23px;
  margin-bottom: 30px;
  font-weight: 190;
}
.hero-content button {
  margin-top: 300px;
}
/* hero section end */
/* Speakers Section Start */
.mentor-container {
  text-align: center;
}
.mentor-container h1 {
  padding-top: 80px;
  font-size: 50px;
  font-weight: 700;
}
.mentor-card-parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: start;
  gap: 30px;
  padding: 56px;
}
.mentor-card {
  border: 0.5px solid #e5e7eb;
  border-radius: 8px;
}
.mentor-card img {
  border-radius: 8px 8px 0 0;
}
.mentor-card h6 {
  color: #2563eb;
  font-weight: 800;
  padding-top: 24px;
  padding-left: 24px;
}
.mentor-card h3 {
  padding-left: 24px;
  padding-top: 8px;
}
.mentor-card p {
  color: #575757;
  font-size: 15px;
  font-weight: 700;
  padding-top: 8px;
  padding-left: 24px;
  padding-bottom: 24px;
}

.price-title {
  text-align: center;
  margin-bottom: 60px;
}
.price-title h2 {
  font-size: 50px;
  padding-bottom: 15px;
}
.price-title p {
  color: #888888;
  font-size: 17px;
}
.price-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.card {
  padding: 40px;
  border: 1px solid #e5e7eb;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.pro {
  background-color: #0d1b2a;
  color: white;
}

.plan {
  color: #575757;
  font-size: 15px;
  font-weight: 700;
  padding-bottom: 12px;
}
.plan-pro {
  color: #93c5fd;
  font-size: 15px;
  font-weight: 700;
  padding-bottom: 12px;
}
.card h3 {
  font-size: 40px;
  font-weight: 800;
  padding-bottom: 6px;
}
/* background color for the care 3 */
.color1 {
  background-color: #f8f9fb;
}
.person {
  color: #575757;
  padding-bottom: 25px;
}
hr {
  color: #575757;
}
.pro hr {
  border-color: #575757;
}
.card ul {
  padding-left: 20px;
  padding-bottom: 40px;
  padding-top: 30px;
}
.card li {
  color: #333333;
  /* line height value known from the chatGPT */
  line-height: 1.5;
}
.pro ul li {
  color: #ffffff;
}
/* un order list item dot  color change value known from the chatCPT*/
.card li::marker {
  color: #2563eb;
}
